* {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    height: 100%;
    width: 100%;
    background-color: rebeccapurple;
    background-image: url("assests/bg.svg");
}

.introText{
    height: 30%;
    width: 40%;
    margin-top: 1%;
    margin-left: 14%;
    float: left;
    /*background-color: beige;*/
}

#intro{
    font-family: Arial;
    font-size: 200px;
    font-weight: bolder;
    color: white;
}

.maindiv{
    background-color: floralwhite;
    height: 100%;
    width: 40%;
    display: inline-block;
    float: right;
    margin: 0;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

#loginInfo{
    height: 50%;
    width: 80%;
    display: block;
    background-color: white;
    border: solid grey 1px;
    border-radius: 50px;
    margin: auto;
    margin-top: 25%;
    font-family: Arial;
    font-size: 30px;
    color: black;
    text-align: center;
}

#login{
    display: block;
}

#username{
    font-size: 20px;
    text-align: left;
    display: block;
}

#header{
    height: 40px;
}
#input{
    height: 40px;
    width: 70%;
    border-radius: 50px;
    margin-top: 30px;
}

#submit{
    height: 40px;
    width: 70%;
    border-radius: 50px;
    background-color: plum;
    margin-top: 50px;
    font-size: 20px;
    border: 1px solid;
}